<div id="<%= dom_id matchup_post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= matchup_post.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Opponent:</strong>
    <%= matchup_post.opponent %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= matchup_post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Self character:</strong>
    <%= matchup_post.self_character %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Foe character:</strong>
    <%= matchup_post.foe_character %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Victory conditions:</strong>
    <%= matchup_post.victory_conditions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Defeat condition:</strong>
    <%= matchup_post.defeat_condition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Neutral:</strong>
    <%= matchup_post.neutral %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Disadvantage edge:</strong>
    <%= matchup_post.disadvantage_edge %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Disadvantage offstage:</strong>
    <%= matchup_post.disadvantage_offstage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Disadvantage juggle:</strong>
    <%= matchup_post.disadvantage_juggle %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Advantage edge:</strong>
    <%= matchup_post.advantage_edge %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Advantage offstage:</strong>
    <%= matchup_post.advantage_offstage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Advantage juggle:</strong>
    <%= matchup_post.advantage_juggle %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Miscellaneou:</strong>
    <%= matchup_post.miscellaneou %>
  </p>

</div>
